@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Teachers:ital,wght@0,800;1,800&display=swap');

body {
    margin: 0;
    font-family: "Montserrat", sans-serif
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    height: 80px; 
    background-color: #73BBA3;
    border-bottom: 1px solid #ddd; 
    color: #ffffff;
    font-size: 1.1em;
  }
  
  .header-logo {
    width: 150px;
    height: 100%;
    background: url('https://marketplace.canva.com/EAFFbakwvaE/1/0/1600w/canva-green-modern-rustic-home-decor-logo-RuS-zD-v_j0.jpg') no-repeat center center;
    background-size: contain;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 15px;
    display: flex;
  }
  
  nav ul li {
    margin: 0 15px;
    line-height: 80px; 
  }
  
  nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
  }
  
  .search-bar {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  #site-search {
    padding: 10px 12px;
    border: none;
    border-radius: 20px;
    width: 450px;
  }
  
  #site-search:focus {
    outline: 2px solid green;
  }
  
  .search-logo {
    position: absolute;
    right: 10px;
    cursor: pointer;
    color: #333;
  }
  
  .search-logo i {
    font-size: 16px;
  }
  
  .login, .cart {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
  }
  
  .login i, .cart i {
    margin-right: 5px;
  }
  
  .social-media {
    display: flex;
    align-items: center;
   
  }
  
  .social-media a {
    color: #333;
    margin-left: 10px;
    font-size: 20px;
    text-decoration: none;
     color: #ffffff;
  }
  
  .social-media a:hover {
    color: #0073e6;
  }
  
  .card-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
  }
  
  .card-head{
    margin-top: 3px;
    margin-left: 60px;
    padding: 15px;
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
  }
  
  
  .card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    width: 250px;
    margin: 15px;
    transition: transform 0.2s;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card img {
    height: 200px;
    width: 100%;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.2em;
    margin-bottom: 10px;
  }
  
  .card-price {
    font-size: 1em;
    color: #2196F3;
    margin-bottom: 10px;
  }
  
  .card-rating {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .card-rating .fa-star {
    color: #FFD700;
  }
  
  .card-rating .fa-star-half-alt {
    color: #FFD700;
  }
  
  .card-rating .fa-star-empty {
    color: #ddd;
  }
  
  .banner {
    position: relative;
    background: url('https://png.pngtree.com/background/20230527/original/pngtree-home-interior-design-with-black-walls-and-wooden-furniture-picture-image_2758154.jpg') no-repeat center center;
    background-size: cover;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
  }
  .banner-text {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 0px; 
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
    transition: transform 0.3s ease, opacity 0.3s ease;
  }

  .banner2 {
    position: relative;
    background: url('https://w0.peakpx.com/wallpaper/544/199/HD-wallpaper-minimalist-interior-design-theme-08.jpg') no-repeat center center;
    background-size: cover;
    height: 580px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 18px;
  }
  .banner-text2 {
    position: absolute;
    top: 20px;
    width: 100%;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0 0px; 
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 8px; 
    transition: transform 0.3s ease, opacity 0.3s ease;
  }
  
  .container {
      width: 80%;
      margin: auto;
      overflow: hidden;
  }
  
  .privacy-policy {
      padding: 20px;
      background: #fff;
      margin-top: 30px;
  }
  
  .privacy-policy h2 {
      font-size: 24px;
      color: #333;
      margin-bottom: 20px;
      border-bottom: 2px solid #e0e0e0;
      padding-bottom: 10px;
  }
  
  .privacy-policy p {
      font-size: 16px;
      line-height: 1.6;
      color: #555;
      margin-bottom: 20px;
  }
  
  .privacy-policy p b {
      color: #333;
  }
  
  .contact-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    max-width: 1000px;
    margin: 50px auto;
  }
  
  .contact-info {
    flex: 1;
    padding: 30px;
    background-color: #73BBA3;
    color: #fff;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }
  
  .contact-info h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .contact-info p {
    margin-bottom: 10px;
  }
  
  .contact-info .info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  
  .contact-info .info i {
    margin-right: 10px;
  }
  
  .contact-form {
    flex: 2;
    padding: 30px;
  }
  
  .contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .contact-form form {
    display: flex;
    flex-direction: column;
  }
  
  .contact-form .form-group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .contact-form .form-group input {
    width: 48%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form input,
  .contact-form textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .contact-form button {
    padding: 10px 20px;
    border: none;
    background-color: #73BBA3;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .contact-form button:hover {
      background-color: #27ae60;
  }
  
  .footer {
    background: #333;
    color: #fff;
    padding: 40px 0;
  }
  
  .footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .footer-col {
    flex: 1;
    margin: 15px;
    min-width: 220px;
  }
  
  .footer-col h4 {
    font-size: 18px;
    margin-bottom: 15px;
    position: relative;
  }
  
  .footer-col h4:before {
    content: '';
    position: absolute;
    width: 50px;
    height: 2px;
    background: #73BBA3;
    bottom: -5px;
    left: 0;
  }
  
  .footer-col ul {
    list-style: none;
  }
  
  .footer-col ul li {
    margin-bottom: 10px;
  }
  
  .footer-col ul li a {
    color: #bbb;
    text-decoration: none;
    transition: color 0.3s;
  }
  
  .footer-col ul li a:hover {
    color: #73BBA3;
  }
  
  .footer-col p {
    margin-bottom: 10px;
  }
  
  .footer-col form {
    display: flex;
    flex-direction: column;
  }
  
  .footer-col form input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 4px;
  }
  
  .footer-col form button {
    padding: 10px;
    border: none;
    background: #73BBA3;
    color: #fff;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s;
  }
  
  .footer-col form button:hover {
    background: #73BBA3;
  }
  
  .footer-col .icons {
    margin-top: 20px;
  }
  
  .footer-col .icons i {
    color: #bbb;
    margin-right: 10px;
    transition: color 0.3s;
  }
  
  .footer-col .icons i:hover {
    color: #73BBA3;
  }
  
  /* Responsive */
  @media (max-width: 768px) {
    .footer-row {
      flex-direction: column;
    }
  }